.bigNftSlider {
  background-color: #f5f6f7;
}
.bigNftSlider_box {
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  width: 90%;
  align-items: center;
  position: relative;
}

.bigNftSlider_box_left {
  grid-column: 1/6; /* Span from column 1 to 6 */
  grid-row: 1/-1;
  margin-block: 9.6875rem;
  background-color: var(--main-bg-color);
  box-shadow: var(--box-shadow-2);
  padding: 3rem 2.875rem;
  border-radius: 1.5rem;
  align-self: flex-start;
  z-index: 222;
  height: auto;
  min-height: 92vh;
}
.bigNftSlider_box_left h2 {
  font-size: 2.2rem;
  font-weight: 600;
}
/* Creator section */
.bigNftSlider_box_left_creator {
  display: flex;
}
.bigNftSlider_box_left_creator_profile {
  display: flex;
  align-items: center;
  gap: 1.5rem;
  justify-content: center;
}
.bigNftSlider_box_left_creator_profile_img {
  border-radius: 50%;
  width: 3.5rem;
  height: 3.5rem;
}
.bigNftSlider_box_left_creator_profile_text {
  display: flex;
  flex-direction: column;
  line-height: 1;
}
.bigNftSlider_box_left_creator_profile_text p {
  margin: 0;
  font-size: 0.85rem;
}
.bigNftSlider_box_left_creator_profile_text span {
  color: #38bdf8;
  font-size: 1.5rem;
  display: inline-block;
  text-align: center;
  width: fit-content;
  margin-left: 0.4rem;
}
.bigNftSlider_box_left_creator_profile_text h4 {
  display: flex;
  align-items: center;
  margin: 0;
}
.bigNftSlider_box_left_creator_profile_collection {
  display: flex;
  align-items: center;
  gap: 1rem;
  justify-content: center;
}
.bigNftSlider_box_left_creator_profile_collection_icon {
  font-size: 4rem;
  width: fit-content;
}
.bigNftSlider_box_left_creator_profile_collection_info {
  line-height: 0;
}
.bigNftSlider_box_left_creator_profile_collection_info p {
  font-size: 0.85rem;
}
/* Bidding section */
.bigNftSlider_box_left_bidding {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.bigNftSlider_box_left_bidding_box {
  border: 3px solid #22c55e;
  border-radius: 1rem;
  padding: 0rem 1.5rem;
  margin-block: 2rem;
  position: relative;
}
.bigNftSlider_box_left_bidding_box small {
  background-color: var(--main-bg-color);
  padding: 0.5rem;
  font-size: 1rem;
  position: absolute;
  color: rgba(128, 128, 128, 0.665);
  top: -1.5rem;
  width: fit-content;
}

.bigNftSlider_box_left_bidding_box p {
  font-size: 2.5rem;
  line-height: 2rem;
  font-weight: 700;
  color: #22c55e;
}
.bigNftSlider_box_left_bidding_box p span {
  font-size: 1.5rem;
  font-weight: normal;
  color: rgba(128, 128, 128, 0.665);
}
/* Auction timer */
.bigNftSlider_box_left_bidding_box_auction {
  display: flex;
  color: rgba(128, 128, 128, 0.665);
  align-items: flex-end;
  font-size: 1.2rem;
  gap: 1rem;
  margin: 0;
}
.bigNftSlider_box_left_bidding_box_auction_timerIcon {
  font-size: 2.3rem;
  width: fit-content;
}

.bigNftSlider_box_left_bidding_box_timer {
  display: flex;
  gap: 2.5rem;
  border-bottom: 2px solid var(--shadow-dark-color);
  padding-bottom: 1.4rem;
}

.bigNftSlider_box_left_bidding_box_timer_item {
  display: flex;
  flex-direction: column;
  width: fit-content;
}
.bigNftSlider_box_left_bidding_box_timer_item p {
  font-size: 2.3rem;
  font-weight: 600;
  text-align: center;
  margin: 0;
}
.bigNftSlider_box_left_bidding_box_timer_item span {
  color: rgba(128, 128, 128, 0.665);
  font-size: 1.3rem;
  text-align: center;
}
/*  buttons */
.bigNftSlider_box_left_buttons_box {
  display: flex;
  gap: 1.5rem;
  padding: 0.2rem 0rem 0 0;
}
.place_bid_btn {
  padding-block: 1.2rem;
}
.view_item_btn {
  background: #fff;
  padding-block: 1.2rem;
  color: var(--icons-color);
  border: 1px solid rgba(128, 128, 128, 0.264);
}
.view_item_btn:hover {
  background: #f3f4f6;
  border: 0.8px solid rgba(128, 128, 128, 0.524);
  color: var(--icons-color);
}

/* Right section */
.bigNftSlider_box_right {
  margin-block: 8rem;
  grid-column: 5/-1; /* Start from column 5 to the last column */
  grid-row: 1/-1;
  min-height: 54.3125rem;
  max-height: 54.3125rem;
  padding: 1rem;
  background-color: var(--main-bg-color);
  border-radius: 2.5rem;
  position: relative;
  display: flex;
  align-self: flex-start;
}

.bigNftSlider_box_right_box_nftImage {
  border-radius: 1.5rem;
  object-fit: cover;
  cursor: pointer;
  height: 100%;
}

/* navigation arrows */
.bigNftSlider_box_left_buttons {
  display: flex;
  grid-column: 1/5;
  gap: 1rem;
  position: absolute;
  padding-inline-start: 3rem;
  bottom: 9.5rem;
}
.bigNftSlider_box_left_buttons span {
  border-radius: 50%;
  width: 3.5rem;
  height: 3.5em;
  display: flex;
  align-items: center;
  justify-content: center;
}
.bigNftSlider_box_left_buttons span:hover {
  border: 3px solid lightgray;
}
.bigNftSlider_box_left_buttons_prevIcon,
.bigNftSlider_box_left_buttons_nextIcon {
  font-size: 1.5rem;
  color: gray;
}

/* likes */
.bigNftSlider_box_right_box_like {
  background-color: rgba(51, 51, 51, 0.508);
  position: absolute;
  top: 2rem;
  right: 2rem;
  display: flex;
  align-items: center;
  width: fit-content;
  border-radius: 1.5rem;
  padding: 0.5rem 0.9rem;
  color: #fff;
  cursor: pointer;
}
.bigNftSlider_box_right_box_like_icon {
  font-size: 1.5rem;
  margin-right: 0.6rem;
}

/* view icon */
.bigNftSlider_box_right_box_view {
  background-color: rgba(51, 51, 51, 0.508);
  position: absolute;
  bottom: 2rem;
  left: 2rem;
  border-radius: 50%;
  height: auto;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  width: fit-content;
  font-size: 1.5rem;
  color: #fff;
  cursor: pointer;
}

@media screen and (max-width: 639px) {
  .bigNftSlider_box {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, auto);
  }
  .bigNftSlider_box_left {
    align-self: center;
    grid-row: -1;
    padding: 1rem;
    min-height: 34.6875rem;
    height: 39.6875rem;
    max-height: 39.6875rem;
    width: 100%;
    margin-top: -9.5rem;
  }
  .bigNftSlider_box_left h2 {
    font-size: 1.8rem;
    margin-top: 0;
  }
  /* creators section */
  .bigNftSlider_box_left_creator {
    display: flex;
    flex-direction: column;
  }
  .bigNftSlider_box_left_creator_profile_img {
    width: 2.8rem;
    height: 2.8rem;
  }
  .bigNftSlider_box_left_creator_profile_collection {
    margin-top: 0.8rem;
  }
  .bigNftSlider_box_left_creator_profile_collection_icon {
    font-size: 3rem;
    margin-right: 0.8rem;
  }

  /* Auction timer */
  .bigNftSlider_box_left_bidding_box_auction {
    gap: 0.7rem;
  }
  .bigNftSlider_box_left_bidding_box_auction_timerIcon {
    font-size: 2rem;
  }

  /* Bidding section */
  .bigNftSlider_box_left_bidding_box {
    padding: 1.5rem;
    margin-bottom: 0;
  }

  .bigNftSlider_box_left_bidding_box p span {
    display: block;
    font-size: 1.3rem;
  }
  .bigNftSlider_box_left_bidding_box p {
    font-size: 2rem;
    font-weight: 600;
    display: block;
    margin: 0;
  }

  .bigNftSlider_box_left_bidding_box_timer {
    gap: 1rem;
    padding-bottom: 0.7rem;
    justify-content: space-around;
  }

  .bigNftSlider_box_left_bidding_box_timer_item p {
    font-size: 1.7rem;
  }
  .bigNftSlider_box_left_bidding_box_timer_item span {
    font-size: 1.1rem;
  }
  /*  buttons */
  .bigNftSlider_box_left_buttons_box {
    flex-direction: column;
    row-gap: 1rem;
    padding: 0;
  }
  .place_bid_btn,
  .view_item_btn {
    padding-block: 0.9rem;
  }

  /* navigation arrows */
  .bigNftSlider_box_left_buttons {
    bottom: 5.5rem;
    padding-inline-start: 1.5rem;
  }
  .bigNftSlider_box_left_buttons span {
    width: 3rem;
    height: 3rem;
  }

  /* right */
  .bigNftSlider_box_right {
    grid-row: 1;
    justify-content: center;
    padding: 0;
    min-height: 8rem;
    min-width: 90vw;
  }

  .bigNftSlider_box_right_box_nftImage {
    width: 100%;
    height: auto;
  }

  /* Likes */
  .bigNftSlider_box_right_box_like {
    top: 1rem;
    right: 1rem;
  }

  /* view */
  .bigNftSlider_box_right_box_view {
    left: 1rem;
    font-size: 1.27rem;
    padding: 0.8rem;
  }
}

@media screen and (min-width: 640px) and (max-width: 1023px) {
  .bigNftSlider_box {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, auto);
  }
  .bigNftSlider_box_left {
    align-self: center;
    grid-row: -1;
    padding: 1rem;
    min-height: 34.6875rem;
    height: 40.6875rem;
    max-height: 40.6875rem;
    width: 100%;
    margin-top: -9.5rem;
  }
  .bigNftSlider_box_left_buttons_box {
    padding: 0;
  }
  /* navigation arrows */
  .bigNftSlider_box_left_buttons {
    bottom: 5.5rem;
  }

  /* right */
  .bigNftSlider_box_right {
    grid-row: 1;
    justify-content: center;
    padding: 0;
    min-height: 8rem;
    min-width: 90vw;
  }

  .bigNftSlider_box_right_box_nftImage {
    width: 100%;
    height: auto;
  }

  /* Likes */
  .bigNftSlider_box_right_box_like {
    top: 1rem;
    right: 1rem;
  }

  /* view */
  .bigNftSlider_box_right_box_view {
    left: 1rem;
    font-size: 1.27rem;
    padding: 0.8rem;
  }
}
