.subscribe {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;
}
.subscribe_box {
  width: 90%;
  margin-inline: 2.5rem;
  padding: 8rem 0 0 0;
  display: grid;
  grid-template-columns: 45% 55%;
}
.subscribe_box_left {
  display: flex;
  align-items: center;
}
.subscribe_box_left_header {
  font-size: xx-large;
  margin: 0 0 1.25rem 0;
}

.subscribe_box_left_text {
  font-size: 1.25rem;
  color: #6b7280;
}
.subscribe_box_left_list {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-top: 2.25rem;
  padding: 0;
  list-style-type: none;
}
.subscribe_box_left_list li {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.subscribe_box_left_list li span {
  padding: 4px 10px;
  border-radius: 9999px;
  font-size: small;
  font-weight: 500;
  text-align: center;
  width: fit-content;
}
.subscribe_box_left_list_span1 {
  background-color: var(--highlight-blue-bg-color);
  color: var(--highlight-blue-text-color);
}
.subscribe_box_left_list_span2 {
  background-color: var(--highlight-red-bg-color);
  color: var(--highlight-red-text-color);
}
.subscribe_box_left_list li p {
  font-size: 1.25rem;
  font-weight: 500;
  margin: 0;
}

.subscribe_box_left_input {
  margin-top: 2.5rem;
  padding: 0.2rem;
  width: 70%;
  display: flex;
  align-items: center;
  border: 1px solid lightgrey;
  border-radius: 999px;
}
.subscribe_box_left_input input {
  font-size: 1rem;
  padding-inline-start: 1rem;
  border: none;
  outline: none;
  background-color: transparent;
}
.subscribe_box_left_input_btn {
  width: fit-content;
  padding: 0.5rem 0.5rem;
  border-radius: 50%;
  display: flex;
  align-items: center;
  font-size: 1.5rem;
  font-weight: 500;
  color: #fff;
  font-style: bold;
  background: var(--gradient-color);
  outline: none;
  border: none;
}
.subscribe_box_right_image {
  width: 100%;
}
@media screen and (max-width: 500px) {
  .subscribe_box_left_input {
    width: 100%;
  }
  .subscribe_box_left {
    margin-bottom: 3rem;
  }
  .subscribe_box_left_list li p {
    flex-wrap: nowrap;
    white-space: nowrap;
  }
}
@media screen and (min-width: 501px) and (max-width: 1023px) {
  .subscribe_box_left_input {
    width: 25.363125rem;
  }
}
@media screen and (min-width: 800px) {
  .subscribe_box {
    width: 90%;
    padding-inline: 1rem;
  }
}

@media screen and (max-width: 1023px) {
  .subscribe_box {
    grid-template-columns: 1fr;
    row-gap: 2rem;
    width: 100%;
  }

  .subscribe_box_right_image {
    height: auto;
  }
}
