.service {
  width: 90%;
  margin: 3rem auto;
  margin-block: 8rem;
}
.service_box {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 3rem;
  text-align: center;
  background-image: url(../../images/dashes.png);
  background-repeat: no-repeat;
  background-position: top;
  background-size: 100%;
}

.service_box_item_step {
margin-block: 1rem;
}
.service_box_item_step + h3 + p {
  font-size: 1.15rem;
  font-weight: 400;
  opacity: .8;
}

.service_box_item_step span {
    padding: .3em 1.3em;
    border-radius: 5rem;
}

@media screen and (max-width: 649px) {
  .service {
    margin-block: 4rem;
    display: flex;
    justify-content: center;
  }
  .service_box {
    grid-template-columns: repeat(1, 1fr);
    background-image: none;
  }
}
@media screen and (min-width: 650px) and (max-width: 1023px) {
  .service_box {
    grid-template-columns: repeat(2, 1fr);
    background-image: none;
  }
}
