.button{
    background: var(--gradient-color);
    padding: .8rem 1.15rem;
    border: .8px solid transparent;
    font-size: 1rem;
    font-weight: 550;
    color: var(--shadow-light-color);
    transition: all .2s ease-in;
    border-radius: 2rem;
    box-shadow: var(--box-shadow);
    word-spacing: 2px;
}

.button:hover{
    background: var(--main-bg-color);
    border: .8px solid rgba(128, 128, 128, 0.718);
    cursor: pointer;
    color: var(--icons-color);
}