.button{
    background: var(--gradient-color);
    padding: .8rem 1.15rem;
    border: .8px solid transparent;
    font-size: 1rem;
    font-weight: 550;
    color: var(--shadow-light-color);
    border-radius: 2rem;
    box-shadow: var(--shadow-dark-color) 0px 3px 8px;
    word-spacing: 2px;
    transition: background .5s ease-in-out;
}

.button:hover{
    background: var(--main-bg-color);
    border: .8px solid rgba(128, 128, 128, 0.718);
    cursor: pointer;
    color: var(--icons-color);
}