.navbar {
  width: 100%;
  padding-block: 1rem;
  position: relative;
  z-index: 111111111;
}

.navbar_container {
  width: inherit;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(2, 2fr );
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
}

.navbar_container_left {
  display: grid;
  grid-template-columns: 1fr 2fr;
  align-items: center;
}

.navbar_container_left > * {
  justify-self: center;
}

.navbar_container_left_box_input{
  width: 80%;
}
.navbar_container_left_box_input_box {
  width: 100%;
  border: 1px solid var(--icons-color);
  display: flex;
  align-items: center;
  padding: 0.5rem;
  border-radius: 2rem;

}

.navbar_container_left_box_input_box input {
  width: 90%;
  border: none;
  outline: none;
  background-color: transparent;
}

.search_icon {
  cursor: pointer;
  font-size: 1.4rem;
}

/* RIGHT SECTION */

.navbar_container_right {
  display: grid;
  grid-template-columns: 1fr 1fr 0.5fr 1fr 1fr 0.3fr;
  gap: 1rem;
  align-items: center;
}

.navbar_container_right > * {
  justify-self: center;
}

.navbar_container_right_discover,
.navbar_container_right_help,
.navbar_container_right_notify,
.navbar_container_right_button,
.navbar_container_right_profile_box {
  position: relative;
  cursor: pointer;
}

.navbar_container_right_help{
  text-wrap: nowrap;
}

.navbar_container_right_button{
  padding: 1rem ;
  display: flex;
  gap: 1.5rem;
  align-items: center;
  justify-content: space-between;
  text-wrap: nowrap;
} 

.navbar_container_right_discover_box,
.navbar_container_right_help_box {
  position: absolute;
  padding: 1rem 0.5rem;
  font-size: 1rem;
  box-shadow: var(--box-shadow);
  width: 15rem;
  border-radius: 1rem;
  background-color: var(--main-bg-color);
}

.notify {
  font-size: 2rem;
}

.navbar_container_right_profile {
  border-radius: 50%;
}

.navbar_container_right_menuBtn {
  display: none;
}

.menuIcon {
  font-size: 2.5rem;
  cursor: pointer;
}

/* SIDE BAR */

.sideBar {
  position: fixed;
  top: 0;
  width: 24rem;
  background-color: var(--main-bg-color);
  box-shadow: var(--box-shadow);
  overflow-y: auto;
  height: 100vh;
  display: none;
  z-index: 1111;
}

.sideBar::-webkit-scrollbar {
  display: none;
}

@media screen and (min-device-width: 320px) and (max-device-width: 768px) {
  .navbar_container {
    grid-template-columns: 1fr 1fr;
  }

  .navbar_container_left {
    grid-template-columns: 1fr;
    padding: 0rem 1.8rem;
  }

  .navbar_container_left .logo{
   display:flex;
    justify-self: start;
  }
  .navbar_container_right {
    grid-template-columns: repeat(3, 1fr);
  }
  .navbar_container_right_menuBtn {
    display: block;
  }
  .navbar_container_left_box_input_box,
  .navbar_container_right_discover,
  .navbar_container_right_help, .navbar_container_right_button {
    display: none;
  }
  .sideBar{
    display: block;
    width: 20rem;
  }

}
