.navbar {
  width: 100%;
  padding-block: 1rem;
  position: relative;
  z-index: 111111111;
}

.navbar_container {
  width: inherit;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(2, 2fr);
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
}

.navbar_container_left {
  display: grid;
  grid-template-columns: 1fr 2fr;
  align-items: center;
}

.navbar_container_left > * {
  justify-self: center;
}

.navbar_container_left_box_input {
  width: 75%;
  justify-self: start;
}
.navbar_container_left_box_input_box {
  width: 100%;
  border: 1px solid rgba(128, 128, 128, 0.718);
  display: flex;
  align-items: center;
  padding: 0.5rem;
  border-radius: 0.8rem;
}

.navbar_container_left_box_input_box input {
  width: 90%;
  font-size: 1rem;
  padding-inline-start: 0.5em;
  border: none;
  outline: none;
  background-color: transparent;
}

.search_icon {
  cursor: pointer;
  font-size: 1.4rem;
  width: fit-content
}

/* RIGHT SECTION */

.navbar_container_right {
  display: grid;
  grid-template-columns: 1fr 1fr 0.5fr 0.1fr 0.5fr 1fr;   /* removed profile from home */
  align-items: center;
  margin-inline-end: 0.8rem;
}

.navbar_container_right > * {
  justify-self: center;
}

.navbar_container_right_discover,
.navbar_container_right_help,
.navbar_container_right_notify,
.navbar_container_right_button,
.navbar_container_right_profile_box {
  position: relative;
  cursor: pointer;
}

.navbar_container_right_help {
  text-wrap: nowrap;
}

.navbar_container_right_button {
  padding: 1rem;
  display: flex;
  gap: 1.5rem;
  align-items: center;
  justify-content: space-between;
  text-wrap: nowrap;
}

.navbar_container_right_discover_box,
.navbar_container_right_help_box {
  position: absolute;
  padding: 1rem 0.5rem;
  font-size: 1rem;
  box-shadow: var(--box-shadow);
  width: 15rem;
  border-radius: 1rem;
  border: 1px solid rgba(211, 211, 211, 0.622);
  background-color: var(--main-bg-color);
}

.navbar_container_right_discover p,
.navbar_container_right_help p {
  display: flex;
  align-items: center;
}

.notify {
  font-size: 2.5rem;
}
.verticalBar {
  width: 1px;
  height: 1.98rem;
  background-color: rgba(128, 128, 128, 0.438);
}

.connectWalletBtn {
  padding: 0.8rem 1.3rem;
  background: transparent;
  font-size: 1.1rem;
  color: var(--icons-color);
  border: 1px solid rgba(128, 128, 128, 0.524);
}
.connectWalletBtn:hover {
  background: #f3f4f6;
  border: 0.8px solid rgba(128, 128, 128, 0.718);
  color: var(--icons-color);
}

.navbar_container_right_profile {
  border-radius: 50%;
}

.navbar_container_right_menuBtn {
  display: none;
}
.themeIcon {
  font-size: 2.18rem;
}

.menuIcon {
  font-size: 2.5rem;
  cursor: pointer;
}

/* SIDE BAR */

.sideBar {
  position: fixed;
  top: 0;
  width: 20rem;
  background-color: var(--main-bg-color);
  box-shadow: var(--box-shadow);
  overflow-y: auto;
  height: 100%;
  z-index: 1111111;
  display: none;
}

.sideBar::-webkit-scrollbar {
  display: none;
}

@media screen and (min-device-width: 320px) and (max-device-width: 649px) {
  .navbar_container {
    grid-template-columns: 1fr 1fr;
  }
  .themeIcon {
    font-size: 2rem;
  }

  .navbar_container_left {
    grid-template-columns: 1fr;
    padding: 0rem 1.8rem;
  }
  .verticalBar {
    display: none;
  }
  .notify {
    display: none;
  }

  .navbar_container_left .logo {
    display: flex;
    justify-self: start;
  }
  .navbar_container_right {
    grid-template-columns: repeat(3, 1fr);
  }
  .navbar_container_right_menuBtn {
    display: block;
  }
  .navbar_container_left_box_input_box,
  .navbar_container_right_discover,
  .navbar_container_right_help,
  .navbar_container_right_button {
    display: none;
  }
  .sideBar {
    display: block;
  }
}

@media screen and (min-device-width: 650px) and (max-device-width: 1023px) {
  .navbar_container_left  {
    grid-template-columns: 1fr 1fr;
    gap: 1rem
  }
}

@media screen and (min-device-width: 650px) and (max-device-width: 1280px) {
  .navbar_container {
    grid-template-columns: 1fr 1fr;
    padding-inline: 3rem;
  }
  .navbar_container_left_box_input{
    width: 100%;
    justify-self: center;
  }

  .verticalBar {
    display: none;
  }
  .navbar_container_right {
    grid-template-columns: repeat(3, 1fr);
    width: fit-content;
    justify-self: end;
    gap: 2rem;
  }

  .navbar_container_right_menuBtn {
    display: block;
  }

  .navbar_container_right_discover,
  .navbar_container_right_help,
  .navbar_container_right_button {
    display: none;
  }
  .sideBar {
    display: block;
  }
}
