
.filter {
  width: 100%;
  margin-top: 7rem;
}
.filter_box_title {
  width: 90%;
  display: flex;
  margin: 0 auto;
}
.filter_box {
  width: 90%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between !important;
}
.filter_box_left {
  display: flex;
  align-items: center;
  padding-block: 2.5rem;
  gap: 2rem;
}
.filter_box_left button {
  outline: none;
  border: none;
  padding: 0.7rem 1.7rem;
  border-radius: 2rem;
  background-color: transparent;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  font-size: 0.9rem;
  color: grey;
  white-space: nowrap;
  font-weight: bold;
}
.filter_box_left button:hover {
  background: var(--icons-bg-color);
  color: rgba(26, 26, 26, 0.871);
  box-shadow: var(--box-shadow);
  cursor: pointer;
}
.filter_box_right {
  display: flex;
 justify-content: flex-end;
}

.filter_box_right_box {
background: var(--gradient-color);
  padding: 0.5rem 1.5rem;
  border-radius: 2rem;
  display: flex;
  align-items: center;
  gap: 1rem;
  width: fit-content;
  cursor: pointer;
  font-size: 1.2rem;
  box-shadow: var(--box-shadow);
  font-weight: 500;
  color: white;
}
.filter_box_right_box_icon {
  font-size: 1.8rem;
  width: fit-content;
}
.filter_box_right_box span, .filter_box_right_box span + * {
  width: fit-content;
}

.filter_box_items {
  display: flex;
  margin-inline: auto;
  width: 90%;
  padding: 2rem;
  border-top: 1px solid var(--icons-bg-color);
}
.filter_box_items_box {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.filter_box_items_box_item, .filter_box_items_box_item_transaction {
  display: flex;
  align-items: center;
  text-align: center;
  white-space: nowrap;
  padding: .5rem 1.2rem;
  width: auto;
  gap: .5rem;
  border-radius: 2rem;
  font-size: 1rem;
  cursor: pointer;
  border: 1px solid var(--icons-bg-color);
}
.filter_box_items_box_item_transaction {
  margin: 0 auto;

}
.filter_box_items_box_item, .filter_box_items_box_item_transaction  svg {
  font-size: 1.2rem;
}


@media screen and (max-width: 1023px) {
  .filter_box {
    flex-direction: column;
  }
  .filter_box_left {
    display: flex;
    gap: 2rem;
    overflow-x: scroll;
    scrollbar-width: none;
    -ms-overflow-style: none;
  }
  .filter_box_left::-webkit-scrollbar {
    display: none;
  }
  .filter_box_right{
    position: relative;
  }
  .filter_box_right_box {
    width: 100%;
    padding: 0.7rem 1.7rem;
    justify-content: center;

  }
  .filter_box_right_box span + * {
    position: absolute;
    right: 1.5rem;
  }
}
@media screen  and (max-width: 600px){
  .filter_box_items_box {
    justify-content: center;
  }
  .filter_box_items {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
  }
}
@media screen and (min-width: 601px) and (max-width: 1023px) {
  .filter_box_items {
    display: grid;
    grid-template-columns: repeat(3, auto);
    gap: 1rem;
  }
}