.filter {
  width: 100%;
  margin-top: 7rem;
  background-color: var(--alternate-bg-color);
}
.filter_box_title {
  width: 90%;
  display: flex;
  margin: 0 auto;
  padding-top: 1rem;
}
.filter_box_title p {
  margin-bottom: .5rem;
}
.filter_box {
  width: 90%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between !important;
}
.filter_box_left {
  display: flex;
  align-items: center;
  padding-block: 2.5rem;
  gap: 2rem;
}
.filter_box_left button {
  outline: none;
  border: none;
  padding: 0.7rem 1.7rem;
  border-radius: 2rem;
  background-color: transparent;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  font-size: 0.9rem;
  color: gray;
  white-space: nowrap;
  font-weight: bold;
}

.filter_box_left .activeButton {
  background-color: var(--highlight-pink-bg-color) !important;
  color: var(--highlight-pink-text-color) !important;
}
.filter_box_left button:hover {
  background: var(--icons-bg-color);
  color: rgba(26, 26, 26, 0.871);
  box-shadow: var(--box-shadow);
  cursor: pointer;
}
.filter_box_right {
  display: flex;
  justify-content: flex-end;
}

.filter_box_right_box {
  background: var(--gradient-color);
  padding: 0.5rem 1.5rem;
  border-radius: 2rem;
  display: flex;
  align-items: center;
  outline: none;
  border: none;
  gap: 1rem;
  width: fit-content;
  cursor: pointer;
  font-size: 1.2rem;
  box-shadow: var(--box-shadow);
  font-weight: 500;
  color: white;
}
.filter_box_right_box_icon {
  font-size: 1.8rem;
  width: fit-content;
}
.filter_box_right_box span,
.filter_box_right_box span + * {
  width: fit-content;
}

.filter_box_items {
  display: flex;
  margin-inline: auto;
  width: 90%;
  padding: 2rem 0;
  border-top: 1px solid var(--icons-bg-color);
}
.filter_box_items_box {
  width: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  background-color: transparent;
  border: none;
  gap: 1rem;
  min-width: max-content;
}

.filter_box_item_box_applied_filter {
  background: var(--highlight-pink-bg-color);
  color: var(--highlight-pink-text-color) !important;
  border: 1px solid var(--highlight-pink-text-color) !important;
}

.filter_box_items_box_item,
.filter_box_items_box_item_transaction {
  display: flex;
  align-items: center;
  text-align: center;
  white-space: nowrap;
  padding: 0.5rem 1.2rem;
  width: auto;
  gap: 0.5rem;
  border-radius: 2rem;
  color: inherit;
  font-size: 1rem;
  cursor: pointer;
  border: 1px solid var(--icons-bg-color);
}
.filter_box_items_box_item_transaction {
  margin: 0 auto;
}
.filter_box_items_box_item,
.filter_box_items_box_item_transaction svg {
  font-size: 1.2rem;
}

@media screen and (max-width: 1023px) {
  .filter {
    position: relative;
  }
  .filter_box {
    flex-direction: column;
  }
  .filter_box_left, .filter_box_items {
    display: flex;
    gap: 2rem;
    overflow-x: scroll;
    scrollbar-width: none;
    -ms-overflow-style: none;
  }

  .filter_box_left::-webkit-scrollbar,  .filter_box_items::-webkit-scrollbar {
    display: none;
  }
  .filter_box_right {
    position: relative;
  }
  .filter_box_right_box {
    width: 100%;
    padding: 0.7rem 1.7rem;
    justify-content: center;
  }
  .filter_box_right_box span + * {
    position: absolute;
    right: 1.5rem;
  }
  /*
//remove the relative positioning to prevent the dropdown from scrolling behind the page */
.filter_box_items_box {
  min-width: fit-content;
  position: unset;
}

}
@media screen and (max-width: 600px) {
  .filter_box_items_box {
    justify-content: center;
  }

}

