.collection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: auto;
  margin: 2.5rem 1.5rem;
  border-radius: 1.8rem;
  background-color: var(--alternate-bg-color);
  padding-block: 4rem;
}
.collection_title {
  width: 100%;
  margin-inline: auto;
  text-align: center;
}
.collection_collections {
  width: 100%;
  display: flex;
  position: relative;
  justify-content: center;
  margin-block: 2rem;
}
.collection_collections_list {
  padding: 0.25rem;
  border-radius: 9999px;
  display: flex;
  justify-content: center;
  list-style-type: none;
  box-shadow: var(--box-shadow-2);
  margin-inline: auto;
  width: auto;
}
.dark_collection_collections_list {
  box-shadow: var(--dark-box-shadow-2);
  background-color: var(--hover-bg-color);
}

.collection_collections_list_btn {
  white-space: nowrap;
  cursor: pointer;
  text-transform: capitalize;
  font-weight: 500;
  font-size: 0.975rem;
  line-height: 1.25rem;
  padding: 0.75rem 1.75rem;
  border-radius: 9999px;
  transition: color 0.15s ease-in-out;
  background: transparent;
  color: grey;
  border: none;
  outline: none;
  width: auto;
  display: flex;
  align-items: center;
}
.collection_collections_list_btn:hover {
  color: currentColor;
}
.collection_collections_list_btn.active {
  background: var(--gradient-color) !important;
  color: #fff;
}
.collection_collections_list_btn:focus,
.collection_collections_list_btn:active{
  outline: none;
  border: none;
}
.collection_collections_list_btn.dark_active_btn {
  background: var(--bg-slate) !important;
}
.collection_box {
  display: flex;
  width: 100%;
  justify-content: center;
}
.collectionSlider_list {
  padding: 0;
  margin: 0;
  display: flex;
}
.collectionSlider {
  width: auto;
  margin: 0;
  padding: 0;
  margin-block: 1rem;
  overflow-x: scroll;
  touch-action: pan-x;
  scroll-behavior: smooth;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.collectionSlider_list_item {
  list-style-type: none;
  position: relative;
  height: 100%;
  padding-inline: 0.5rem;
}

.leftArrow,
.rightArrow {
  display: flex;
  align-self: center;
  justify-self: center;
  height: fit-content;
}
@media screen and (min-width: 1024px) {
  .collection_box {
    display: flex;
    max-width: 90%;
    margin-inline: auto;

  }
  .collectionSlider_list_item {
    padding-inline: .875rem;
  }
}

@media screen and (min-width: 1024px) {
  .collection_collections {
    margin-bottom: 2.87rem;
  }
}
@media screen and (max-width: 860px) {
  .leftArrow,
  .rightArrow {
    display: none;
  }
}
@media screen and (min-width: 640px) and (max-width: 1023px) {
  .collectionSlider_list {
    width: 80%;
    margin-inline: auto;
  }
}
@media screen and (min-width: 768px) {
  .collection_collections {
    font-size: 1rem;
    line-height: 1.5;
  }
}

@media screen and (max-width: 640px) {
  .collection {
    margin-inline: 0;
    padding-inline: 0.875rem;
  }
  .collection_collections {
    margin-block: 2rem;
    line-height: 1.5rem;
  }
  .tabIcons {
    display: none;
  }
  .collection_collections_list_btn {
    padding: 0.5rem 0.75rem;
    font-size: 0.9rem;
    line-height: 1.25rem;
  }
}
