.discover{
    padding: .5rem 1rem;
    transition: all .3s ease-in;
    z-index: 22222222222;
}
.discover:hover{
    background-color: var(--hover-bg-color);
    color: var(--icons-color);
    border-radius: .3rem;
}