.dropdown_box {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  padding: 1.5rem;
  border: 1px solid lightgray;
  border-radius: 1rem;
  width: 29rem;
  align-self: flex-start;
  gap: 1rem;
  position: absolute;
  top: 3.5rem;
  z-index: 9999;
}
.dropdown_box h3 {
  font-weight: 600;
}
.dropdown_box_input_box {
  display: flex;
  white-space: nowrap;
  align-items: center;
  font-size: 1.2rem;
}

.dropdown_box_input_box input[type='checkbox'],
.dropdown_box_input_box input[type='radio'] {
  width: 1.5rem;
  height: 1.5rem;
  cursor: pointer;
  border: 1px solid gray;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}
.dropdown_box_input_box input[type='checkbox'] {
  border-radius: 0.25rem;
}

.dropdown_box_input_box input[type='checkbox']:checked,
.dropdown_box_input_box input[type='radio']:checked {
  background-color: var(--highlight-pink-text-color);
  border: none;
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: 100% 100%;
  border-color: transparent;
}

.dropdown_box_input_box input[type='checkbox']:checked {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg viewBox='0 0 16 16' fill='%23fff' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12.207 4.793a1 1 0 0 1 0 1.414l-5 5a1 1 0 0 1-1.414 0l-2-2a1 1 0 0 1 1.414-1.414L6.5 9.086l4.293-4.293a1 1 0 0 1 1.414 0z'/%3E%3C/svg%3E");
}

.dropdown_box_input_box input[type='radio'] {
  border-radius: 50%;
  margin: 0;
}
.dropdown_box_input_box label {
  margin-left: 1rem !important;
}
.dropdown_box_input_box input[type='radio']:checked {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg viewBox='0 0 16 16' fill='%23fff' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='8' cy='8' r='3'/%3E%3C/svg%3E");
}

.dropdown_box_input_box input[type='checkbox']:active,
.dropdown_box_input_box input[type='radio']:active,
.dropdown_box_input_box input[type='radio']:focus,
.dropdown_box_input_box input[type='checkbox']:focus {
  outline-offset: 2px;
  outline: var(--highlight-pink-text-color) solid 2px;
}

.dropdown_box_buttons_box {
  display: flex;
  justify-content: space-between;
  margin-top: 2rem;
}
.clear_btn {
  background: transparent;
  color: var(--icons-color);
  border: 1px solid rgba(128, 128, 128, 0.264);
}
.apply_btn,
.clear_btn {
  padding: 0.8rem 1.7rem;
  width: fit-content;
}
.dropdown_box_range_slider_box {
  height: 1rem;
  width: 100%;
  max-width: 100%;
}
/* input range */
.dropdown_box_range_slider {
  position: relative;
  width: 100%;
  max-width: 100%;
}

.range_thumbs {
  cursor: grab;
  height: 14px;
  width: 14px;
  border-radius: 50%;
  position: absolute;
  background-color: #fff;
  position: absolute;
  touch-action: pan-x;
  margin-top: -5px;
  opacity: 0.8;
  outline: 3px solid var(--highlight-pink-text-color);
}
.range_thumbs:hover {
  box-shadow: 0 0 0 8px var(--highlight-pink-bg-color);
}

.range_thumbs:active {
  border: 2px solid var(--highlight-pink-text-color);
  outline: 6px solid #9d174d94;
  cursor: grabbing;
}
.track {
  position: absolute;
  height: 4px;
  border-radius: 6px;
  width: auto;
  left: 0;
  top: 50%;
  background: var(--highlight-pink-bg-color) !important;
}
.track_sides{
  /* color of the track before and after the thumb */
  background: var(--highlight-pink-bg-color) !important;
}

.track_middle {
  /* This targets the track between the first and second thumbs */
  background: var(--highlight-pink-text-color) !important;
}

.dropdown_box_range_slider_box_prices_box {
  margin-top: 2rem;
  display: flex;
  justify-content: space-between;
}
.dropdown_box_range_slider_box_minPrice label {
  font-weight: 600;
  font-size: 0.975rem;
  line-height: 1.25rem;
}
.dropdown_box_range_slider_box_minPrice_input_div {
  position: relative;
  margin-top: 0.25rem;
}
.dropdown_box_range_slider_box_minPrice span {
  position: absolute;
  font-size: 1.1rem;
  line-height: 1.25rem;
  right: 4.6rem;
  top: 0.75rem;
  width: fit-content;
  display: flex;
  align-items: center;
  pointer-events: none;
  font-weight: 500;
}
.dropdown_box_range_slider_box_minPrice input {
  padding-right: 2.5rem;
  padding-left: 1rem;
  padding-block: 0.7rem;
  margin-left: 0.4rem;
  width: 9rem;
  background-color: initial;
  border-radius: 9999px;
  display: block;
  font-size: 1.1rem;
  border: 1px solid lightgray;
  font-weight: 500;
  display: block;
}

.value_boxes {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 10px;
}

.value_box {
  font-size: 14px;
  padding: 5px;
  background-color: #f0f0f0;
  border-radius: 5px;
  text-align: center;
  width: 48%;
}

@media screen and (max-width: 1023px) {
  .dropdown_box {
    margin: 0 auto;
    width: 28em;
    top: 27rem;
    right: 0;
    left: 0;
  }
}
