.like_box {
  background-color: rgba(51, 51, 51, 0.508);
  position: absolute;
  display: flex;
  align-items: center;
  width: fit-content;
  border: none;
  outline: none;
  border-radius: 1.5rem;
  padding: 0.5rem 0.9rem;
  color: #fff;
  cursor: pointer;
}
.like_box:focus, .like_box:active{
  outline: none;
}
.like_icon {
  font-size: 1.5rem;
  margin-right: 0.6rem;
}
@media screen and (max-width: 1023px) {
  .like_box {
    top: 1rem;
    right: 1rem;
  }
}
