.brand_box {
  display: flex;
  justify-content: space-between;
  margin-inline: auto;
  position: relative;
  margin-block: 6rem;
  padding-inline: 1.5rem;
  flex-direction: column;
  width: 100%;
  max-width: fit-content;
}
@media screen and (min-width: 640px) {
  .brand_box {
    padding: 0;
  }
}
@media screen and (min-width: 1024px) {
  .brand_box {
    margin-inline: auto;
    align-items: center;
    flex-direction: row;
    gap: 2.5rem;
    margin-block: 8rem;
  }
  .brand_box_left {
    margin-bottom: 0;
    width: 40%;
  }
}

@media screen and (max-width: 1536px) {
  .brand_box {
    gap: 3.5rem;
  }
}
.brand_box_left {
  flex-shrink: 0;
  margin-bottom: 4rem;
}
.brand_box_left_logo {
  display: flex;
  width: fit-content;
}
.brand_box_left_text {
  margin-block: 1.5rem;
}
@media screen and (min-width: 640px) {
  .brand_box_left_text {
    margin-block: 2rem;
  }
}
.brand_box_left_text h1 {
  font-size: 1.875rem;
  line-height: 2.25rem;
  flex-wrap: wrap;
  margin: 0;
  font-weight: 600;
  letter-spacing: -0.025em;
}
@media screen and (min-width: 640px) {
  .brand_box_left_text h1 {
    font-size: 2.25rem;
    line-height: 2.5rem;
  }
}
@media screen and (min-width: 1280px) {
  .brand_box_left_text h1 {
    font-size: 3.75rem;
    font-weight: 600;
    line-height: 3.5rem;
  }
}
.brand_box_left_text span {
  display: block;
  margin-top: 1.3rem;
  color: rgb(107, 114, 128);
}
.brand_box_left_btns {
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
}
.brand_box_left_btns_btn1,
.brand_box_left_btns_btn2 {
  padding: 0.75rem 1rem;
  font-size: 0.875rem;
  line-height: 1, 25rem;
  width: auto;
  margin-right: 0.5rem;
}
@media screen and (min-width: 640px) {
  .brand_box_left_btns_btn1,
  .brand_box_left_btns_btn2 {
    padding: 0.875rem 1.5rem;
    font-size: 1rem;
    line-height: 1.5rem;
    margin-right: 1.25rem;
  }
}

.brand_box_left_btns_btn2 {
  background: transparent;
  white-space: nowrap;
  color: var(--icons-color);
  border: 1px solid rgba(128, 128, 128, 0.264) !important;
}
.brand_box_left_btns_btn2:hover {
  background: #f3f4f6;
  border: 0.8px solid rgba(128, 128, 128, 0.718);
  color: var(--icons-color);
}

.brand_box_right {
  flex-grow: 1;
}
.brand_box_right_img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
