@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --icons-color: #25272bdd;
  --icons-light-color: #4c577341;
  --icons-bg-color: #eef0f2;
  --minor-text-color: rgb(115 115 115);
  --shadow-dark-color: #dcd8d8;
  --alternate-bg-color: #f5f6f7;
  --shadow-light-color: #fff;
  --highlight-blue-bg-color: #dbeafe;
  --highlight-blue-text-color: #1e40a5;
  --highlight-red-bg-color: #fce7f3;
  --highlight-red-text-color: #9d174d;
  --highlight-green-bg-color: #ecfdf5;
  --highlight-green-text-color: #166534;
  --highlight-yellow-bg-color: #fdf8c2;
  --highlight-yellow-text-color: #854d0e;
  --gradient-color: linear-gradient(
    225deg,
    rgba(27, 57, 160, 1) 0%,
    rgba(135, 40, 144, 1) 40%,
    rgba(255, 44, 137, 1) 100%
  );
  --main-bg-color: #ffffff;
  --highlight-pink-bg-color: #fef2f8;
  --highlight-pink-text-color: #db2777;
  --highlight-purple-bg-color: #f5f3ff;
  --highlight-purple-text-color: #7c3aed;
  --box-shadow: 1rem 1rem 1rem var(--shadow-dark-color),
    -1rem -1rem 1rem var(--shadow-light-color);

  --box-shadow-2: 0rem 10px 15px -3px var(--shadow-dark-color),
    0 4px 6px -4px var(--shadow-dark-color);
  --hover-bg-color: rgb(245 245 245);
    --neutral-700: rgb(55 65 81);

}

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
  font-size: clamp(0.89rem, 1vw, 1.3rem);
  background-color: var(--main-bg-color);
  color: var(--icons-color);
  scroll-behavior: smooth;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  -webkit-tap-highlight-color: none;
  width: 100%;
}

::selection {
  color: var(--shadow-dark-color);
  background: var(--icons-color);
}

::-webkit-scrollbar {
  width: 0.62rem;
  border: 1px solid var(--main-bg-color);
}
::-webkit-scrollbar-track {
  border-radius: 0;
  background-color: var(--main-bg-color);
}

::-webkit-scrollbar-thumb {
  border-radius: 2rem;
  background: var(--icons-color);
  width: 0.5rem;
}
button:active,
button:focus {
  outline: 2px solid #95298f; /* Adds a border-like effect, and doesn't affect the box model */
  outline-offset: 2px; /* Creates space between the outline and the element */
}
[data-theme="dark"], [color-scheme="dark"] {
  --main-bg-color: #111827;
  --alternate-bg-color: #0e131f;
  --icons-light-color: #9ca3af; /* Lighter shade for hover or secondary items */
  --hover-bg-color: #1F2937;
  --icons-bg-color: #1f2937;
  --icons-color: rgb(209 213 219);
  --minor-text-color: rgb(163 163 163);
  --shadow-light-color: #65737e;
  --dark-box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);;
  --dark-box-shadow-2: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
  --buttons-hover-color: rgb(31 41 55);
  --bg-slate: rgb(15 23 42);
  --neutral-300: rgb(209 213 219);
  --neutral-200: rgb(229 231 235);
  --neutral-500: rgb(107, 114, 128);
  --neutral-800: rgb(31,41,55);
}
