
.search_page_box {
    width: 100%;
}
.search_page_box_banner_wrapper {
    margin-top: 5rem;
}
.search_page_box_search_wrapper {
    width: 100%;
    margin-inline: auto;
    padding-inline: 1rem;

}
.search_page_box_filter_wrapper {
    margin-top: -3rem;
}
@media screen and (min-width: 640px) {
    .search_page_box_filter_wrapper {
        margin-top: 0;
    }
}
@media screen and (min-width: 640px) {
  .search_page_box_search_wrapper {
    max-width: 640px;
  }
}
@media screen and (min-width: 768px) {
  .search_page_box_search_wrapper {
    max-width: 768px;
  }
}
@media screen and (min-width: 1024px) {
  .search_page_box_search_wrapper {
    max-width: 1024px;
  }
}
@media screen and (min-width: 1280px) {
  .search_page_box_search_wrapper {
    max-width: 1280px;
  }
}
@media screen and (min-width: 1536px) {
  .search_page_box_search_wrapper {
    max-width: 1536px;
  }
}