.ReactTags__tagInputField {
  display: block;
  height: 2.75rem;
  width: 100%;
  border-radius: 1rem;
  padding-inline: 1rem;
  padding-block: 0.875rem;
  line-height: 1.35rem;
  font-weight: 500;
  font-size: 0.9rem;
  background-color: transparent;
  border: 1px solid var(--neutral-200);
  margin-top: 0.375rem;
}
.ReactTags__selected {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  margin-top: .75rem
}
.ReactTags__tag {
  background-color: var(--neutral-100);
  width: auto;
  display: flex;
  gap: 0.25rem;
  padding: 0.25rem 0.5rem;
  border-radius: 0.75rem;
  font-size: 0.875rem !important;
  color: var(--icons-color) !important;
}

.dark_ReactTags__tag {
  background-color: var(--neutral-800);
}

.ReactTags__remove {
  cursor: pointer;
  width: auto;
  border-radius: 9999px;
  display: flex;
  align-items: center;
  border: none;
  outline: none;
  justify-content: center;
  background-color: var(--neutral-300);
  color: red !important;
}
.ReactTags__remove:focus, .ReactTags__remove:active{
  outline: none;
}

.dark_ReactTags__remove {
  background-color: var(--neutral-700);
}

.ReactTags__remove svg {
  fill: var(--icons-color);
}

